/* $black: #000000;
$cornflower-lilac: #ffaea9;
$salmon: #ff7b73;
$white: #ffffff;
$your-pink: #ffcccc; */

 body {
    font-size: 10px; 
    font-family: Roboto, sans-serif;
    /* background-color: #ff7b73; */
    background-color: #000;
     margin: 0;
    display: grid;
    /* height: 100vh; */
    place-items: center; 
 } 
 

.c-checkbox {
    display: none;

    &:checked + .c-formContainer {
        .c-form {
            width: 37.5em;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            /* letter-spacing: 1; */
        }
    }

    &:not(:checked),
    &:checked {
        + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
            content: 'Thank You! \1F60A';
        }
    }

    &:not(:checked) + .c-formContainer {
        .c-form__input:required:valid ~ .c-form__toggle {
            pointer-events: none;
            cursor: default;
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: #fff;
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(#000, 0.3);
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    /* color: #ff7b73; */
    color: #45f3ff;
    top: 0;
    cursor: pointer;
    z-index: 1;

    
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
    letter-spacing: 0.5;
    
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    /* color: #ffcccc; */
    color: #45f3ff;
    height: 100%;
    width: 300px auto;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        /* color: #ff7b73; */
        color: #45f3ff;

        + .c-form__buttonLabel {
            color: #fff;

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    /* color: #ffaea9; */
    color: #45f3ff;
    height: 100%;
    width: auto;
    

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    /* color: inherit; */
    padding: 0;
    height: 100%;
    width: 5em;
    /* background-color: #ff7b73; */
    background-color: #45f3ff;
    color: #000;
}

.resultdiv{
    transition: 0.8s 1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 1.6rem auto;

}

#resultDiv {
    display: none;
    margin-top: 20px;
    font-size: 20px;
}


.input_user_name{
    background-color: violet;
    width: 100% auto;
    height: 200px;
}

.input_user_name input{
    border: 2px solid red;
  border-radius: 4px;
}

.button_1{

    color: white;
    background-color: red;

}

.emotion{
    display: flex;
    align-items: center;
    /* background-color: violet; */
    font-size: 1rem;
    width: 100% auto;
    margin: 20px auto;

}

@media (max-width: 600px) {
    .emotion{
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100% auto;
    margin: 100px;
    }
    .div3{
        /* background-color: violet; */
        text-align: center;
        align-items: center;
        font-size: 1.4rem;
        width: 100% auto;
        margin: 50px auto;
        text-align: center;
        border: 2px solid #ffcccc;
        height: 500px;
        padding: 15px 10px;
    
    }
}

.checkbox1{
    /* background-color: #fff; */
    margin: 5px auto;
    text-align: center;

    
}

.checkbox1 i{
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
}

.cont{

    width: 300px auto;
    height: 130px;
    /* background-color: violet; */

}

.cont h2{
    font-family: 'Rubik Mono One', monospace;
    margin-bottom: 30px;
    /* background-color: #16FF00; */
    color: #16FF00;
}

.cont ul{
    text-decoration: none;
    list-style: none;
    list-style-type: none;

}

.cont li {
    font-size: 2rem;
    list-style: none;
    font-family: 'Pacifico', cursive;
    padding: 10px 0;
    color: #fff;    /* background-color: violet; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.cont li.completed{
    text-decoration: line-through;
    color: red;
}

.div3{
    /* background-color: violet; */
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    width: 100% auto;
    margin: 50px auto;
    text-align: center;
    /* border: 2px solid #ffcccc; */
    height: 550px;
    padding: 5px 10px;

}

.div3 img{
    font-size: 1rem;
}

.hidden-checkbox{
    position: absolute;
    opacity: 0;
}

.toggle-button{
    cursor: pointer;
    font-size: 2em;
    display: inline-block;
    position: relative;
    margin-right: 20px;
}


.toggle-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



/* Highlight the "background" when checked */
/* .hidden-checkbox:checked + .toggle-button::before {
    background-color: #f00; 
} */

.header1{
    /* text-align: center; */
    /* width: 100% auto; */
    margin: 30px auto;
    color:  #45f3ff;
    font-size: 2rem;
    font-family: 'Rubik Mono One', monospace;
    letter-spacing: 1;
}

.header3{
    color: #AF2655;
}


video{
    border: 1px solid #fff;
}